# Secrets & Credentials
*.pem
*.key
*.pfx
.env
.env.*
.aws/
aws-credentials.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
!terraform/terraform.example.tfvars

# Build / Dependencies
node_modules/
dist/
build/
coverage/
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
